@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

​ body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh"; }

​ .small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em; }

​ .tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum"; }

​ .oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum"; }

​ .lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum"; }

header #header-content #header-content-left ul li, header #header-content #header-content-right ul li {
  cursor: pointer;
  user-select: none; }

.feature-info div, footer #footer-content #footer-content-left div {
  width: fit-content;
  color: #333233;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #FED153; }
  .feature-info div:hover, footer #footer-content #footer-content-left div:hover {
    background-color: #EBAB00; }

.feature-info a, #sub-features a {
  color: #FED153; }
  .feature-info a:hover, #sub-features a:hover {
    color: #EBAB00; }

header {
  width: 100vw;
  height: 33px;
  padding: 5px 0;
  font-size: .89em;
  display: flex;
  justify-content: center;
  background-color: #584C4F; }
  header #header-content {
    width: 860px;
    height: 100%;
    display: flex;
    justify-content: space-between; }
    header #header-content #header-content-left {
      height: 100%;
      display: flex;
      align-items: center; }
      header #header-content #header-content-left ul {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header #header-content #header-content-left ul li {
          padding: 8px;
          transition: 0.3s; }
          header #header-content #header-content-left ul li:hover {
            color: #81BF8C;
            transition: 0.3s; }
    header #header-content #header-content-right {
      height: 100%;
      display: flex;
      align-items: center; }
      header #header-content #header-content-right ul {
        width: 67px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header #header-content #header-content-right ul li {
          transition: 0.3s; }
          header #header-content #header-content-right ul li:hover {
            color: #EBAB00;
            transition: 0.3s; }
          header #header-content #header-content-right ul li img {
            position: relative;
            top: 2px; }

#hero {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; }
  #hero #hero-content {
    width: 860px; }
    #hero #hero-content #hero-content-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      #hero #hero-content #hero-content-top #hero-content-top-ani {
        width: 582px;
        height: 500px; }
        #hero #hero-content #hero-content-top #hero-content-top-ani #octocat {
          float: left;
          position: relative;
          top: 60px;
          left: -30px;
          animation: bob 2s infinite;
          animation-direction: alternate; }
        #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles {
          height: 500px;
          width: auto;
          position: relative; }
          #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img {
            position: absolute;
            left: 60%;
            top: 50%;
            transform: translate(-50%, -50%); }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(2) {
              animation: rotate 120s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(3) {
              animation: rotate 110s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(4) {
              animation: rotate 100s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(5) {
              animation: rotate 90s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(6) {
              animation: rotate 60s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(7) {
              animation: rotate 50s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(8) {
              animation: rotate 40s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(9) {
              animation: rotate 30s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(11) {
              animation: rotate 80s infinite;
              animation-timing-function: linear; }
            #hero #hero-content #hero-content-top #hero-content-top-ani #hero-circles img:nth-child(12) {
              animation: rotate 70s infinite;
              animation-timing-function: linear; }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes bob {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(25px); } }
      #hero #hero-content #hero-content-top #hero-content-top-ul {
        width: 228px;
        margin-left: 50px; }
        #hero #hero-content #hero-content-top #hero-content-top-ul ul {
          height: 350px;
          width: 228px;
          border: 1px solid #4E4B4D;
          border-radius: 20px; }
          #hero #hero-content #hero-content-top #hero-content-top-ul ul li {
            height: 25%;
            width: 100%;
            border-bottom: 1px solid #4E4B4D;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            #hero #hero-content #hero-content-top #hero-content-top-ul ul li h1 {
              font-size: 1.44em;
              font-weight: 500;
              color: #EED9B7;
              margin-bottom: .4em; }
            #hero #hero-content #hero-content-top #hero-content-top-ul ul li span {
              font-size: .9em;
              color: #EED9B788; }
              #hero #hero-content #hero-content-top #hero-content-top-ul ul li span a:hover {
                color: #EBAB00; }
            #hero #hero-content #hero-content-top #hero-content-top-ul ul li a {
              height: 60%;
              width: 80%; }
              #hero #hero-content #hero-content-top #hero-content-top-ul ul li a div {
                height: 100%;
                width: 100%;
                background-color: #FED153;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row; }
                #hero #hero-content #hero-content-top #hero-content-top-ul ul li a div img {
                  height: 16px;
                  width: 14px;
                  margin: 2px 10px 0 0; }
                #hero #hero-content #hero-content-top #hero-content-top-ul ul li a div s {
                  color: #333233;
                  font-weight: 500;
                  font-size: 1.1em;
                  letter-spacing: .03em; }
                #hero #hero-content #hero-content-top #hero-content-top-ul ul li a div:hover {
                  background-color: #EBAB00; }
            #hero #hero-content #hero-content-top #hero-content-top-ul ul li:last-child {
              border-bottom: none; }
    #hero #hero-content #hero-content-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      #hero #hero-content #hero-content-bottom p {
        color: #766E63AA;
        font-size: .8em; }
        #hero #hero-content #hero-content-bottom p a {
          color: #766E63; }
      #hero #hero-content #hero-content-bottom ul {
        width: 100%;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        #hero #hero-content #hero-content-bottom ul li {
          color: #8D8273;
          font-size: .9em; }
          #hero #hero-content #hero-content-bottom ul li:first-child {
            margin-right: 32px; }
          #hero #hero-content #hero-content-bottom ul li a:hover {
            color: #EBAB00; }

#sub-hero {
  width: 100vw;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  #sub-hero #sub-hero-content {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #sub-hero #sub-hero-content h1 {
      font-size: 2.3em;
      font-weight: 300;
      letter-spacing: .025em;
      color: #EFDAB9; }
      #sub-hero #sub-hero-content h1 span {
        color: #78B0A0; }
    #sub-hero #sub-hero-content ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      #sub-hero #sub-hero-content ul li {
        color: #FFD152;
        margin: 40px 10px 0 10px;
        padding: 9px 14px;
        border-radius: 5px;
        border: 1px solid #4E4B4D;
        font-size: 1.15em; }
        #sub-hero #sub-hero-content ul li:hover {
          color: #EBAB00; }

#feature-1 {
  background: url("media/imgs/teletype-bckr.svg") no-repeat;
  background-size: contain;
  background-position: calc(50% + 1000px) 0%; }
  #feature-1 #feature-1-img {
    width: 50%; }
    #feature-1 #feature-1-img img {
      filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5); }
      #feature-1 #feature-1-img img:hover {
        filter: none; }
  #feature-1 #feature-1-info {
    padding-left: 35px; }

#feature-2 {
  background: url("media/imgs/atomide-bckr.svg") no-repeat;
  background-size: auto 70%;
  background-position: calc(-50% + 550px) center; }
  #feature-2 #feature-2-img {
    width: 50%; }
    #feature-2 #feature-2-img img {
      position: relative;
      left: 45px;
      filter: brightness(0.7) contrast(0.8) sepia(1) hue-rotate(160deg) saturate(2.5); }
      #feature-2 #feature-2-img img:hover {
        filter: none; }
  #feature-2 #feature-2-info {
    padding-left: 390px; }

#feature-3 {
  background: url("media/imgs/github-bckr.svg") no-repeat;
  background-size: contain;
  background-position: calc(50% + 550px) 0%; }
  #feature-3 #feature-3-img {
    width: 50%; }
    #feature-3 #feature-3-img img {
      filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1); }
      #feature-3 #feature-3-img img:hover {
        filter: none; }
  #feature-3 #feature-3-info {
    padding-left: 35px; }

.feature-container {
  width: 100vw;
  padding: 100px 0px;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.feature-img {
  position: relative;
  left: -100px;
  width: 780px;
  height: 488px;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transition: filter 2s;
  transition-timing-function: ease;
  transition-delay: 0s; }

.feature-info {
  height: 400px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

#sub-features {
  width: 100vw;
  padding: 210px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  #sub-features #sub-features-content {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #sub-features #sub-features-content #sub-features-expectations {
      width: 100%; }
      #sub-features #sub-features-content #sub-features-expectations h2 {
        width: 100%;
        margin-bottom: 50px;
        text-align: left; }
      #sub-features #sub-features-content #sub-features-expectations #expectations-grid {
        width: 100%;
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
        grid-gap: 100px 5%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(1) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf1.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(2) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf2.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(3) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf3.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(4) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf4.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(5) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf5.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-expectations #expectations-grid div:nth-child(6) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf6.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
    #sub-features #sub-features-content #sub-features-customize {
      width: 100%; }
      #sub-features #sub-features-content #sub-features-customize h2 {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: left; }
      #sub-features #sub-features-content #sub-features-customize #customize-grid {
        width: 100%;
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        grid-gap: 100px 5%; }
        #sub-features #sub-features-content #sub-features-customize #customize-grid div:nth-child(1) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf7.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-customize #customize-grid div:nth-child(2) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf8.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-customize #customize-grid div:nth-child(3) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf9.png") no-repeat;
          background-position: left top;
          background-size: 8%; }
        #sub-features #sub-features-content #sub-features-customize #customize-grid div:nth-child(4) {
          width: 100%;
          height: auto;
          padding-left: 60px;
          background: url("media/imgs/sf10.png") no-repeat;
          background-position: left top;
          background-size: 8%; }

footer {
  width: 100vw;
  padding: 205px 0px;
  border-top: 1px solid #1A191A;
  background: url("media/imgs/rocket.svg") no-repeat #2C2A2B;
  background-position: calc(50% + 380px) 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  footer #footer-content {
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    footer #footer-content #footer-content-left {
      width: 50%;
      height: 295px;
      padding-right: 75px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column; }
    footer #footer-content #footer-content-right {
      width: 50%;
      padding-left: 75px;
      box-sizing: border-box;
      height: 295px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column; }
      footer #footer-content #footer-content-right #footer-content-right-uls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        footer #footer-content #footer-content-right #footer-content-right-uls ul {
          color: #EFDAB9;
          line-height: 1.7; }
          footer #footer-content #footer-content-right #footer-content-right-uls ul li {
            padding-right: 26px; }
            footer #footer-content #footer-content-right #footer-content-right-uls ul li a {
              color: #FED153; }
              footer #footer-content #footer-content-right #footer-content-right-uls ul li a:hover {
                color: #EBAB00; }

#sub-footer {
  height: 55px;
  width: 100vw;
  background-color: #EFEAE1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  #sub-footer #sub-footer-content {
    height: 100%;
    width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    #sub-footer #sub-footer-content #sub-footer-content-left ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      #sub-footer #sub-footer-content #sub-footer-content-left ul li a {
        color: #574C4F;
        padding-right: 20px; }
    #sub-footer #sub-footer-content #sub-footer-content-right img {
      padding-top: 3px; }

body {
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 100%;
  color: #EFEAE1;
  background-color: #333233; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none; }

p {
  color: #EFDAB9;
  line-height: 1.45;
  margin: 16px 0px;
  width: 350px;
  letter-spacing: 0.02em; }

h2 {
  font-size: 2em;
  font-weight: 200;
  color: #EFDAB9;
  letter-spacing: 0.05em; }

h4 {
  font-size: 1.2em;
  color: #EFDAB9;
  font-weight: 500;
  letter-spacing: 0.02em; }
