@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

​ body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
}

​ .small-caps {
  -moz-font-feature-settings: "c2sc", "smcp";
  -ms-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
  letter-spacing: 0.05em;
}

​ .tabular-figures {
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

​ .oldstyle-figures {
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

​ .lining-figures {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

header #header-content #header-content-left ul li, header #header-content #header-content-right ul li {
  cursor: pointer;
  user-select: none;
}

header {
  width: 100vw;
  height: 33px;
  padding: 5px 0;
  font-size: .89em;
  display: flex;
  justify-content: center;
  background-color: #584C4F;
}

header #header-content {
  width: 860px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header #header-content #header-content-left {
  height: 100%;
  display: flex;
  align-items: center;
}

header #header-content #header-content-left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #header-content #header-content-left ul li {
  padding: 8px;
  transition: 0.3s;
}

header #header-content #header-content-left ul li:hover {
  color: #81BF8C;
  transition: 0.3s;
}

header #header-content #header-content-right {
  height: 100%;
  display: flex;
  align-items: center;
}

header #header-content #header-content-right ul {
  width: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #header-content #header-content-right ul li {
  transition: 0.3s;
}

header #header-content #header-content-right ul li:hover {
  color: #81BF8C;
  transition: 0.3s;
}

header #header-content #header-content-right ul li img {
  position: relative;
  top: 2px;
}

#hero {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#hero #hero-content {
  width: 860px;
}

#hero #hero-content #hero-content-top {
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 100%;
  color: #EFEAE1;
  background-color: #333233;
}
