// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/vars";
@import "components/mixins";

@import "components/placeholders";
@import "components/header";
@import "components/hero";
@import "components/sub-hero";
@import "components/sub-features";
@import "components/footer";
@import "components/sub-footer";

// --- MASTER CONTROLS ---

body{
  height: 100vh;
  width: 100vw;

  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 100%;
  color: #EFEAE1;

  background-color: $body-color;
}

a{
  text-decoration: none;
  color: inherit;

  &:hover{
    text-decoration: none;
  }
}

p{
  color: $atom-tan;
  line-height: 1.45;
  margin: 16px 0px;
  width: 350px;
  letter-spacing: 0.02em;

}

h2{
  font-size: 2em;
  font-weight: 200;
  color: #EFDAB9;
  letter-spacing: 0.05em;
}
h4{
  font-size: 1.2em;
  color: $atom-tan;
  font-weight: 500;
  letter-spacing: 0.02em;
}
