// *** HEADER PARTIAL ***

header {
  width: 100vw;
  height: 33px;
  padding: 5px 0;

  font-size: .89em;

  display: flex;
  justify-content: center;

  background-color: #584C4F;


  #header-content{
      width: 860px;
      height: 100%;

      display: flex;
      justify-content: space-between;


      #header-content-left {

        height: 100%;

        display: flex;
        align-items: center;

        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;

          li{
            padding: 8px;

            @extend %fake-link;


            &:hover{
              color: #81BF8C;
              transition: .3s;


            }
          }//li
        }//ul
      } //header-content-left

      #header-content-right {
        width: 100px;
        height: 100%;


      }
    }//header-content
}//header
