// *** MIXINS
@mixin basic-flex($jc: center, $ai: flex-start, $fd:row) {

  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin grid-item($img-file){
  width: 100%;
  height: auto;
  padding-left: 60px;
  background: url('media/imgs/#{$img-file}') no-repeat;
  background-position: left top;
  background-size: 8%;
}
