// *** sub footer partial ***

#sub-footer{
  height: 55px;
  width: 100vw;
  background-color: #EFEAE1;
  @include basic-flex(center, center);

  #sub-footer-content{
    height: 100%;
    width: $content-width;
    @include basic-flex(space-between, center);

    #sub-footer-content-left{
      ul{
        @include basic-flex(space-between, center, row);
        li{
         a{
           color: #574C4F;
           padding-right: 20px;
         }
        }
      }
    }

    #sub-footer-content-right{
      img{
        padding-top: 3px;
      }
    } //sub footer content right
  }
}
