// *** GLOBAL VARIABLES ***

$content-width: 860px;
// be careful doing anything below 860
$body-color: #333233;
$border-style: 1px solid #4E4B4D;
$hover-color: #EBAB00;
$button-color: #FED153;
$button-border-radius: 5px;
$atom-tan: #EFDAB9;
